# Python
venv/
final_model/
model_backup/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter and VS Code
.ipynb_checkpoints/
.vscode/

# DVC
.dvc/cache/
artifacts/
data/
logs/

# Other
*.log
*.tmp

# Project-specific
project_code_dump_index.txt
project_code_dump_part1.txt
project_code_dump_part2.txt
project_code_dump_part3.txt
project_code_dump_part4.txt
project_code_dump_part5.txt
project_code_dump_part6.txt

project_dump.py